@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroylight.woff2") format("woff2"), url("../fonts/Gilroylight.woff") format("woff"), url("../fonts/Gilroylight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroyextrabold.woff2") format("woff2"), url("../fonts/Gilroyextrabold.woff") format("woff"), url("../fonts/Gilroyextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("../fonts/Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy-Semibold';
  src: url("../fonts/Gilroy-Semibold.ttf"); }
/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  width: 100vw; }

body {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #111111;
  background-color: #EFEFEF; }

body::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0); }

body.modal-open {
  overflow: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none; }

.container {
  max-width: 1275px; }

h1 {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 40px;
  line-height: 1;
  color: #222222;
  margin-bottom: 90px;
  position: relative; }
  h1:before {
    content: url("../img/mini-cub.svg");
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  h1 span {
    font-size: 26px; }

h2 {
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.26;
  color: #222222;
  margin: 20px 0; }

h3 {
  font-family: 'Gilroy-Semibold', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #73738D;
  padding-bottom: 32px;
  position: relative;
  margin-bottom: 45px; }
  h3:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 42px;
    height: 6px;
    background: -o-linear-gradient(14.58deg, #FFFFFF 3.58%, #B1B1B1 305.99%);
    background: linear-gradient(75.42deg, #FFFFFF 3.58%, #B1B1B1 305.99%);
    -webkit-box-shadow: 2px 1px 3px rgba(105, 105, 105, 0.2), -2px -1px 4px rgba(255, 255, 255, 0.4), inset -4px -3px 2px rgba(134, 134, 134, 0.2), inset 3px 3px 2px rgba(245, 245, 245, 0.4);
    box-shadow: 2px 1px 3px rgba(105, 105, 105, 0.2), -2px -1px 4px rgba(255, 255, 255, 0.4), inset -4px -3px 2px rgba(134, 134, 134, 0.2), inset 3px 3px 2px rgba(245, 245, 245, 0.4);
    border-radius: 26px; }

p {
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #73738D; }

header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 11;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #EFEFEF; }

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  max-width: 1560px;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  padding: 45px 0; }

.button-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: none;
  border: none;
  background: #6EB2C1;
  -webkit-box-shadow: 2px 2px 5px rgba(110, 178, 193, 0.5);
  box-shadow: 2px 2px 5px rgba(110, 178, 193, 0.5);
  border-radius: 66.9501px;
  padding: 30px 65px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 76px; }

section {
  width: 100%;
  height: auto;
  margin: auto; }

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #6EB2C1;
  -webkit-box-shadow: 4px 2px 16px rgba(110, 178, 193, 0.38), -4px -2px 16px rgba(255, 255, 255, 0.7);
  box-shadow: 4px 2px 16px rgba(110, 178, 193, 0.38), -4px -2px 16px rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  width: 238px;
  height: 80px;
  font-family: 'Gilroy-Semibold', sans-serif;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
  margin-top: 50px; }
  .main-btn.self-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }

.main-page {
  position: relative;
  margin-top: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  max-width: 1560px;
  height: auto;
  min-height: calc(100vh - 190px); }
  .main-page .main-block {
    width: 50%; }
  .main-page .img-block {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .main-page p {
    max-width: 750px; }

.form-feedback .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 850px;
  margin-top: 50px;
  position: relative; }
  .form-feedback .input-box .input {
    min-width: 100%;
    height: 80px; }
    .form-feedback .input-box .input input {
      background: #E2E2E2;
      -webkit-box-shadow: inset 2px 2px 5px rgba(110, 178, 193, 0.5), inset -3px -3px 7px #FFFFFF;
      box-shadow: inset 2px 2px 5px rgba(110, 178, 193, 0.5), inset -3px -3px 7px #FFFFFF;
      border-radius: 40px;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }
      .form-feedback .input-box .input input::-webkit-input-placeholder {
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        text-align: left;
        color: rgba(115, 115, 141, 0.6);
        padding-left: 15%; }
      .form-feedback .input-box .input input::-moz-placeholder {
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        text-align: left;
        color: rgba(115, 115, 141, 0.6);
        padding-left: 15%; }
      .form-feedback .input-box .input input:-ms-input-placeholder {
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        text-align: left;
        color: rgba(115, 115, 141, 0.6);
        padding-left: 15%; }
      .form-feedback .input-box .input input::-ms-input-placeholder {
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        text-align: left;
        color: rgba(115, 115, 141, 0.6);
        padding-left: 15%; }
      .form-feedback .input-box .input input::placeholder {
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        text-align: left;
        color: rgba(115, 115, 141, 0.6);
        padding-left: 15%; }
  .form-feedback .input-box .button-primary {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 30px; }

.main-ul {
  list-style: none;
  padding-left: 0;
  margin: 45px 0; }
  .main-ul li {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #73738D;
    position: relative;
    margin-bottom: 11px;
    padding-left: 40px; }
    .main-ul li:before {
      content: url("../img/check-li.svg");
      position: absolute;
      top: 5px;
      left: 0; }

.container-fluid {
  padding: 0; }

nav .nav-link {
  font-family: 'Gilroy-Semibold', sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #73738D;
  margin-left: 90px; }

.content {
  padding: 1px;
  width: 100%;
  background: #EFEEEE; }
  .content.box-shadow {
    -webkit-box-shadow: inset 2.01424px 2.01424px 5.03559px rgba(136, 165, 191, 0.38), inset -3.02135px -3.02135px 7.04982px #FFFFFF;
    box-shadow: inset 2.01424px 2.01424px 5.03559px rgba(136, 165, 191, 0.38), inset -3.02135px -3.02135px 7.04982px #FFFFFF; }

.video-box {
  margin: 134px auto 164px auto;
  display: block;
  position: relative; }
  .video-box:before {
    content: url("../img/before-img.svg");
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0; }
  .video-box:after {
    content: url("../img/before-img.svg");
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    z-index: 0; }

.block-video {
  position: relative;
  width: 100%;
  height: 746px;
  overflow: hidden;
  border-radius: 22px;
  cursor: pointer;
  z-index: 1; }
  .block-video img, .block-video video {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.course-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 192px auto 136px auto; }
  .course-box .course-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Gilroy-Semibold', sans-serif;
    font-size: 25px;
    line-height: 1;
    color: #73738D;
    width: 33%;
    max-width: 325px; }
    .course-box .course-item .name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .course-box .course-item .name .circle-img {
        width: 50px;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #EAEAEA;
        -webkit-box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
        box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
        border-radius: 100%;
        margin-right: 20px; }
    .course-box .course-item .progress {
      background: -o-linear-gradient(89.71deg, #FFFFFF -30.86%, #ECF1F7 -10.72%, #CFDCEB 112.31%);
      background: linear-gradient(0.29deg, #FFFFFF -30.86%, #ECF1F7 -10.72%, #CFDCEB 112.31%);
      -webkit-box-shadow: inset 2px 2px 4px rgba(110, 178, 193, 0.5), inset -4px -4px 4px rgba(255, 255, 255, 0.7);
      box-shadow: inset 2px 2px 4px rgba(110, 178, 193, 0.5), inset -4px -4px 4px rgba(255, 255, 255, 0.7);
      border-radius: 31px;
      width: 100%;
      max-width: 325px;
      height: 11px;
      margin-top: 55px; }
      .course-box .course-item .progress.active {
        background: #6EB2C1;
        -webkit-box-shadow: inset 1.92878px 1.92878px 3.85757px rgba(110, 178, 193, 0.5);
        box-shadow: inset 1.92878px 1.92878px 3.85757px rgba(110, 178, 193, 0.5); }

.text-block {
  max-width: 646px; }

.two-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 90px 0; }
  .two-block.big-margin-top {
    margin-top: 200px; }
  .two-block .img-column {
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .two-block .img-column img {
      z-index: 4;
      width: 100%;
      max-width: 320px; }
    .two-block .img-column:before {
      content: url("../img/bg-circle.svg");
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-transform: translate(-25%, 38%);
      -ms-transform: translate(-25%, 38%);
      transform: translate(-25%, 38%);
      z-index: 1; }
    .two-block .img-column:after {
      content: url("../img/mini-cub.svg");
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-transform: translate(-55%, 55%);
      -ms-transform: translate(-55%, 55%);
      transform: translate(-55%, 55%);
      z-index: 2; }
    .two-block .img-column.jc-end {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .two-block .img-column.jc-end:before {
        content: none; }
      .two-block .img-column.jc-end:after {
        content: url("../img/mini-cub.svg");
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        -webkit-transform: translate(55%, 55%);
        -ms-transform: translate(55%, 55%);
        transform: translate(55%, 55%);
        z-index: 2; }
  .two-block .text-column {
    width: 63%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: -o-linear-gradient(249.96deg, #ECECEC 19.14%, #ECECEC 154.68%);
    background: linear-gradient(200.04deg, #ECECEC 19.14%, #ECECEC 154.68%);
    -webkit-box-shadow: 5.05966px 5.05966px 37.9474px rgba(110, 178, 193, 0.35), -20.2386px -20.2386px 50.5966px rgba(255, 255, 255, 0.8), inset -10.1193px -7.58949px 101.193px rgba(255, 255, 255, 0.18);
    box-shadow: 5.05966px 5.05966px 37.9474px rgba(110, 178, 193, 0.35), -20.2386px -20.2386px 50.5966px rgba(255, 255, 255, 0.8), inset -10.1193px -7.58949px 101.193px rgba(255, 255, 255, 0.18);
    border-radius: 30.358px;
    padding: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.video-shadow {
  width: 100%;
  height: 100%;
  background: #EFEFEF;
  -webkit-box-shadow: 16px 10px 48px rgba(136, 165, 191, 0.58), -16px -2px 56px #FFFFFF;
  box-shadow: 16px 10px 48px rgba(136, 165, 191, 0.58), -16px -2px 56px #FFFFFF;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.video-border {
  width: 261px;
  height: 261px;
  border-radius: 100%;
  background: #EFEFEF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #B9C8D6;
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #B9C8D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden; }
  .video-border video {
    min-height: 100%;
    height: calc(100% - 7px); }

.video-wrapper {
  width: 293px;
  height: 293px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .video-wrapper .play {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 261px;
    height: 261px;
    background-color: rgba(225, 230, 234, 0.25);
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .video-wrapper .play img {
      margin-left: 16px;
      margin-bottom: 10px; }
  .video-wrapper:hover .play {
    opacity: 0; }

.reviews-video-box {
  width: 110%;
  margin-left: -50px;
  margin-right: -50px; }
  .reviews-video-box .reviews__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 50px;
    padding-top: 100px; }
    .reviews-video-box .reviews__item .review__name {
      font-family: 'Gilroy-Bold', sans-serif;
      font-size: 20px;
      text-align: center;
      color: #73738D;
      margin-top: 90px;
      margin-bottom: 35px;
      max-width: 260px; }
    .reviews-video-box .reviews__item .review__content {
      font-family: 'Gilroy-Semibold', sans-serif;
      font-size: 20px;
      text-align: center;
      color: #73738D;
      max-width: 260px; }
    .reviews-video-box .reviews__item:hover, .reviews-video-box .reviews__item:focus {
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none; }
  .reviews-video-box .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 120px 0; }
    .reviews-video-box .slick-dots li {
      margin: 0 12px;
      width: 20px;
      height: 20px;
      background: -o-linear-gradient(343.21deg, #FFFFFF -62.32%, #ACACAC 190.73%);
      background: linear-gradient(106.79deg, #FFFFFF -62.32%, #ACACAC 190.73%);
      -webkit-box-shadow: inset 1.46939px 1.46939px 2.20408px rgba(79, 98, 120, 0.9), inset 2.20408px 2.20408px 3.67347px rgba(213, 230, 245, 0.4);
      box-shadow: inset 1.46939px 1.46939px 2.20408px rgba(79, 98, 120, 0.9), inset 2.20408px 2.20408px 3.67347px rgba(213, 230, 245, 0.4);
      border-radius: 100%; }
      .reviews-video-box .slick-dots li.slick-active {
        background: -o-linear-gradient(2.13deg, #FFFFFF 3.58%, #ACACAC 305.99%);
        background: linear-gradient(87.87deg, #FFFFFF 3.58%, #ACACAC 305.99%);
        -webkit-box-shadow: 1.46939px 0.734694px 2.20408px rgba(24, 55, 91, 0.2), -1.46939px -0.734694px 2.93878px rgba(255, 255, 255, 0.4), inset -2.93878px -2.20408px 2.93878px rgba(79, 98, 120, 0.2), inset 2.20408px 2.20408px 3.67347px rgba(213, 230, 245, 0.4);
        box-shadow: 1.46939px 0.734694px 2.20408px rgba(24, 55, 91, 0.2), -1.46939px -0.734694px 2.93878px rgba(255, 255, 255, 0.4), inset -2.93878px -2.20408px 2.93878px rgba(79, 98, 120, 0.2), inset 2.20408px 2.20408px 3.67347px rgba(213, 230, 245, 0.4); }
      .reviews-video-box .slick-dots li button {
        outline: none;
        border: none;
        color: transparent;
        font-size: 1px;
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 100%;
        background-color: transparent; }

.reviews-text {
  margin-top: 195px; }
  .reviews-text h2 {
    position: relative; }
    .reviews-text h2:before {
      content: url("../img/before-img.svg");
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translate(-90%, -80%);
      -ms-transform: translate(-90%, -80%);
      transform: translate(-90%, -80%); }

.reviews-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }
  .reviews-text-box .reviews-text__item {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0))), #EFEFEF;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #EFEFEF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #EFEFEF;
    -webkit-box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
    border-radius: 16px;
    padding: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 26px; }
    .reviews-text-box .reviews-text__item .author-img {
      min-width: 54px;
      width: 54px;
      height: 54px;
      border-radius: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden;
      margin-right: 20px; }
      .reviews-text-box .reviews-text__item .author-img img {
        min-width: 100%;
        height: 100%;
        min-height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }

.pure-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 200px; }
  .pure-content .img-content {
    width: 42%; }
    .pure-content .img-content img {
      width: 100%; }
  .pure-content .text-content {
    width: 53%;
    padding-left: 8%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .pure-content .text-content h2 {
      margin-bottom: 35px; }
    .pure-content .text-content p {
      margin-bottom: 35px; }

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #EFEFEF; }
  .login-page .logo {
    width: 155px;
    margin-right: 0;
    margin-bottom: 72px; }
    .login-page .logo img {
      width: 100%; }
  .login-page .login-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 90%;
    max-width: 716px;
    min-height: 500px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: -o-linear-gradient(247.64deg, #ECECEC 19.14%, #ECECEC 154.68%);
    background: linear-gradient(202.36deg, #ECECEC 19.14%, #ECECEC 154.68%);
    -webkit-box-shadow: 4px 4px 34px rgba(110, 178, 193, 0.35), -18px -18px 46px rgba(255, 255, 255, 0.8), inset -9px -6px 92px rgba(255, 255, 255, 0.18);
    box-shadow: 4px 4px 34px rgba(110, 178, 193, 0.35), -18px -18px 46px rgba(255, 255, 255, 0.8), inset -9px -6px 92px rgba(255, 255, 255, 0.18);
    border-radius: 28px; }
    .login-page .login-form form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      max-width: 400px; }
    .login-page .login-form .input-box {
      width: 100%;
      max-width: 400px;
      height: 40px;
      margin-bottom: 16px; }
    .login-page .login-form input {
      width: 100%;
      height: 100%;
      padding: 12px 24px;
      background: #E2E2E2;
      -webkit-box-shadow: inset 0.974468px 0.974468px 2.43617px rgba(110, 178, 193, 0.5), inset -1.4617px -1.4617px 3.41064px #FFFFFF;
      box-shadow: inset 0.974468px 0.974468px 2.43617px rgba(110, 178, 193, 0.5), inset -1.4617px -1.4617px 3.41064px #FFFFFF;
      border-radius: 20px;
      border: none;
      outline: none; }

.btn-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #6EB2C1;
  -webkit-box-shadow: 1px 1px 21px rgba(110, 178, 193, 0.5);
  box-shadow: 1px 1px 21px rgba(110, 178, 193, 0.5);
  border-radius: 33px;
  width: 240px;
  height: 40px;
  border: none;
  outline: none;
  margin-top: 32px; }

.practicum-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  margin-top: 190px; }

.side-panel {
  background: -o-linear-gradient(222.11deg, #ECECEC 19.14%, #ECECEC 154.68%);
  background: linear-gradient(227.89deg, #ECECEC 19.14%, #ECECEC 154.68%);
  -webkit-box-shadow: 9.30903px 9.30903px 69.8177px rgba(135, 167, 174, 0.35), -37.2361px -37.2361px 93.0903px rgba(255, 255, 255, 0.8), inset -18.6181px -13.9636px 186.181px rgba(255, 255, 255, 0.18);
  box-shadow: 9.30903px 9.30903px 69.8177px rgba(135, 167, 174, 0.35), -37.2361px -37.2361px 93.0903px rgba(255, 255, 255, 0.8), inset -18.6181px -13.9636px 186.181px rgba(255, 255, 255, 0.18);
  border-radius: 55px;
  width: 30%;
  min-width: 320px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 28px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  .side-panel:before {
    content: url("../img/mini-cub.svg");
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-30%, -35%);
    -ms-transform: translate(-30%, -35%);
    transform: translate(-30%, -35%);
    z-index: -1; }
  .side-panel:after {
    content: url("../img/mini-cub.svg");
    position: absolute;
    bottom: 0;
    right: 50px;
    -webkit-transform: translateY(80%);
    -ms-transform: translateY(80%);
    transform: translateY(80%);
    z-index: -1; }
  .side-panel .icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  .side-panel .progress-box {
    width: 100%;
    padding: 0 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px; }
    .side-panel .progress-box .panel-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .side-panel .progress-box .panel-text .caption {
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 20px;
        line-height: 1;
        color: #73738D;
        margin-bottom: 25px; }
      .side-panel .progress-box .panel-text p {
        padding-right: 10px;
        font-size: 18px; }
      .side-panel .progress-box .panel-text .divider {
        width: 42px;
        height: 6px;
        background: -o-linear-gradient(14.58deg, #FFFFFF 3.58%, #B1B1B1 305.99%);
        background: linear-gradient(75.42deg, #FFFFFF 3.58%, #B1B1B1 305.99%);
        -webkit-box-shadow: 2px 1px 3px rgba(105, 105, 105, 0.2), -2px -1px 4px rgba(255, 255, 255, 0.4), inset -4px -3px 2px rgba(134, 134, 134, 0.2), inset 3px 3px 2px rgba(245, 245, 245, 0.4);
        box-shadow: 2px 1px 3px rgba(105, 105, 105, 0.2), -2px -1px 4px rgba(255, 255, 255, 0.4), inset -4px -3px 2px rgba(134, 134, 134, 0.2), inset 3px 3px 2px rgba(245, 245, 245, 0.4);
        border-radius: 26px;
        margin-top: 52px; }

.panel-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 47px;
  height: 47px;
  background: -o-linear-gradient(306.08deg, #E4E4E4 21.46%, rgba(255, 255, 255, 0) 108.86%), #ECECEC;
  background: linear-gradient(143.92deg, #E4E4E4 21.46%, rgba(255, 255, 255, 0) 108.86%), #ECECEC;
  -webkit-box-shadow: 2px 1px 11px rgba(136, 165, 191, 0.48), -2px -1px 11px #FFFFFF;
  box-shadow: 2px 1px 11px rgba(136, 165, 191, 0.48), -2px -1px 11px #FFFFFF;
  border-radius: 20px; }

.progress-wrapper {
  min-width: 180px;
  min-height: 180px;
  width: 180px;
  height: 180px;
  max-height: 180px;
  max-width: 180px;
  background: #EAEAEA;
  -webkit-box-shadow: 9px 6px 29px rgba(136, 165, 191, 0.7), -9px -1px 33px #FFFFFF;
  box-shadow: 9px 6px 29px rgba(136, 165, 191, 0.7), -9px -1px 33px #FFFFFF;
  border-radius: 100%;
  border: 10px solid #EAEAEA;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .progress-wrapper .circle-progress {
    background: #ECECEC;
    -webkit-box-shadow: inset 1px 1px 4px rgba(136, 165, 191, 0.48), inset -1px -1px 4px #FFFFFF;
    box-shadow: inset 1px 1px 4px rgba(136, 165, 191, 0.48), inset -1px -1px 4px #FFFFFF;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    .progress-wrapper .circle-progress svg {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .progress-wrapper .progressbar-text {
    width: 60px;
    height: 60px;
    background: -o-linear-gradient(307.49deg, #D1DDE9 8.35%, rgba(255, 255, 255, 0) 106.34%), #ECECEC;
    background: linear-gradient(142.51deg, #D1DDE9 8.35%, rgba(255, 255, 255, 0) 106.34%), #ECECEC;
    -webkit-box-shadow: 9px 6px 29px rgba(136, 165, 191, 0.58);
    box-shadow: 9px 6px 29px rgba(136, 165, 191, 0.58);
    border-radius: 100%;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 20px;
    line-height: 1;
    color: #73738D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.progress-item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 120px;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .progress-item-box .progress-item {
    width: 100%;
    background: #E2E2E2;
    -webkit-box-shadow: inset 1.17871px 1.17871px 2.94677px rgba(105, 141, 173, 0.4);
    box-shadow: inset 1.17871px 1.17871px 2.94677px rgba(105, 141, 173, 0.4);
    border-radius: 9px;
    height: 37px;
    padding: 8px 20px;
    padding-left: 70px;
    position: relative;
    margin-bottom: 27px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .progress-item-box .progress-item .arrow-translate {
      position: absolute;
      left: 0;
      top: 1px;
      -webkit-box-shadow: 1.17871px 1.17871px 3.53612px rgba(136, 165, 191, 0.55);
      box-shadow: 1.17871px 1.17871px 3.53612px rgba(136, 165, 191, 0.55);
      border-radius: 9.42966px;
      width: 34px;
      height: 34px;
      z-index: 5;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #E2E2E2;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .progress-item-box .progress-item .level {
      font-family: 'Gilroy-Semibold', sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: #73738D; }
    .progress-item-box .progress-item.active {
      background: #71B0C1;
      -webkit-box-shadow: inset 1px 1px 2px rgba(105, 141, 173, 0.4);
      box-shadow: inset 1px 1px 2px rgba(105, 141, 173, 0.4);
      border-radius: 9px; }
      .progress-item-box .progress-item.active .arrow-translate {
        left: auto;
        right: 0; }
      .progress-item-box .progress-item.active .level {
        color: white; }

.tab_item {
  display: none; }
  .tab_item:first-child {
    display: block;
    width: 100%; }
  .tab_item .video-box {
    margin: 0; }
    .tab_item .video-box:before, .tab_item .video-box:after {
      display: none; }
    .tab_item .video-box .block-video {
      border-radius: 0; }

.tab_content {
  margin-left: 40px;
  width: 65%;
  background: -o-linear-gradient(222.11deg, #ECECEC 19.14%, #ECECEC 154.68%);
  background: linear-gradient(227.89deg, #ECECEC 19.14%, #ECECEC 154.68%);
  -webkit-box-shadow: 9.30903px 9.30903px 69.8177px rgba(135, 167, 174, 0.35), -37.2361px -37.2361px 93.0903px rgba(255, 255, 255, 0.8), inset -18.6181px -13.9636px 186.181px rgba(255, 255, 255, 0.18);
  box-shadow: 9.30903px 9.30903px 69.8177px rgba(135, 167, 174, 0.35), -37.2361px -37.2361px 93.0903px rgba(255, 255, 255, 0.8), inset -18.6181px -13.9636px 186.181px rgba(255, 255, 255, 0.18);
  border-radius: 55.8542px 55.8542px 55.85px 55.85px;
  position: relative; }
  .tab_content:after {
    content: url("../img/mini-cub.svg");
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    z-index: -1; }

.name {
  font-family: 'Gilroy-Semibold', sans-serif;
  font-size: 22px;
  line-height: 1.5;
  color: #73738D;
  text-align: center;
  margin: 25px auto;
  position: relative; }
  .name img {
    position: absolute;
    right: 25%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .name.no-active {
    margin-bottom: 150px; }
    .name.no-active img {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
      margin-top: -8px; }

.viewed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #73738D;
  width: 90%;
  max-width: 480px;
  height: 40px;
  background: #E2E2E2;
  -webkit-box-shadow: inset 1px 1px 2px rgba(105, 141, 173, 0.4);
  box-shadow: inset 1px 1px 2px rgba(105, 141, 173, 0.4);
  border-radius: 9px;
  position: relative;
  margin: 90px auto; }
  .viewed .img {
    position: absolute;
    top: 0;
    left: 0;
    background: #EEEEEE;
    -webkit-box-shadow: 1px 1px 3px rgba(136, 165, 191, 0.55);
    box-shadow: 1px 1px 3px rgba(136, 165, 191, 0.55);
    border-radius: 9px;
    width: 40px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.scales-caption {
  width: 100%;
  height: 70px;
  background: -o-linear-gradient(268.15deg, #ECECEC 19.14%, #ECECEC 154.68%);
  background: linear-gradient(181.85deg, #ECECEC 19.14%, #ECECEC 154.68%);
  -webkit-box-shadow: 9.30903px 9.30903px 69.8177px rgba(135, 167, 174, 0.35);
  box-shadow: 9.30903px 9.30903px 69.8177px rgba(135, 167, 174, 0.35);
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Gilroy-Semibold', sans-serif;
  font-size: 22px;
  line-height: 1.5;
  color: #73738D;
  text-align: center;
  margin: auto;
  position: relative; }
  .scales-caption img {
    position: absolute;
    right: 25%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .scales-caption.no-active img {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    margin-top: -8px; }

.exercise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1010px;
  width: 90%;
  margin: auto;
  margin-top: 200px; }
  .exercise .name {
    margin-bottom: 60px; }

.audio-player {
  width: 100%;
  margin: auto;
  margin-bottom: 70px; }

.mejs__controls .mejs__play button {
  position: absolute;
  display: block;
  width: 73px;
  height: 71px;
  cursor: pointer;
  background: #961717; }

.mejs__container {
  background-color: transparent;
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mejs__time-rail {
  margin: 0 100px; }

.mejs__controls .mejs__play button {
  width: 25px;
  height: 25px;
  background: url(../img/play-icon-mini.svg) 0 0 no-repeat;
  margin: 0; }

.mejs__controls .mejs__pause button {
  width: 25px;
  height: 25px;
  background: url("../img/pause.svg") 0 0 no-repeat;
  margin: 0; }

.mejs__controls:not([style*='display: none']) {
  background: transparent; }

.mejs__time-total {
  overflow: hidden;
  margin: 0;
  background: -o-linear-gradient(89.88deg, #FFFFFF -30.86%, #ECF1F7 -10.72%, #CFDCEB 112.31%);
  background: linear-gradient(0.12deg, #FFFFFF -30.86%, #ECF1F7 -10.72%, #CFDCEB 112.31%);
  -webkit-box-shadow: inset 2px 2px 4px rgba(110, 178, 193, 0.5), inset -4px -4px 4px rgba(255, 255, 255, 0.7);
  box-shadow: inset 2px 2px 4px rgba(110, 178, 193, 0.5), inset -4px -4px 4px rgba(255, 255, 255, 0.7);
  border-radius: 30px; }

.mejs__time-loaded {
  background: #6EB2C1;
  -webkit-box-shadow: inset 1px 1px 3px rgba(110, 178, 193, 0.5);
  box-shadow: inset 1px 1px 3px rgba(110, 178, 193, 0.5);
  border-radius: 29px;
  opacity: 0.2; }

.mejs__time-current {
  background: #6EB2C1;
  -webkit-box-shadow: inset 1px 1px 3px rgba(110, 178, 193, 0.5);
  box-shadow: inset 1px 1px 3px rgba(110, 178, 193, 0.5);
  border-radius: 29px; }

.mejs__time {
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #6EB2C1;
  padding: 0; }

a.big-btn {
  width: 90%;
  max-width: 480px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #6EB2C1;
  -webkit-box-shadow: 9.7135px 6.07094px 29.1405px rgba(136, 165, 191, 0.7), -9.7135px -1.21419px 33.9973px #FFFFFF;
  box-shadow: 9.7135px 6.07094px 29.1405px rgba(136, 165, 191, 0.7), -9.7135px -1.21419px 33.9973px #FFFFFF;
  border-radius: 19px;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #FFFFFF;
  margin: 200px auto; }

.page-info {
  background: -o-linear-gradient(222.11deg, #ECECEC 19.14%, #ECECEC 154.68%);
  background: linear-gradient(227.89deg, #ECECEC 19.14%, #ECECEC 154.68%);
  -webkit-box-shadow: 9.30903px 9.30903px 69.8177px rgba(135, 167, 174, 0.35), -37.2361px -37.2361px 93.0903px rgba(255, 255, 255, 0.8), inset -18.6181px -13.9636px 186.181px rgba(255, 255, 255, 0.18);
  box-shadow: 9.30903px 9.30903px 69.8177px rgba(135, 167, 174, 0.35), -37.2361px -37.2361px 93.0903px rgba(255, 255, 255, 0.8), inset -18.6181px -13.9636px 186.181px rgba(255, 255, 255, 0.18);
  border-radius: 55px;
  width: 95%;
  max-width: 1780px;
  padding: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.page-info__block-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  align-self: flex-end; }
  .page-info__block-name .name {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    color: #73738D;
    position: relative;
    padding-bottom: 40px;
    margin-top: 8px; }
    .page-info__block-name .name:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 42px;
      height: 6px;
      background: -o-linear-gradient(14.58deg, #FFFFFF 3.58%, #B1B1B1 305.99%);
      background: linear-gradient(75.42deg, #FFFFFF 3.58%, #B1B1B1 305.99%);
      -webkit-box-shadow: 2px 1px 3px rgba(105, 105, 105, 0.2), -2px -1px 4px rgba(255, 255, 255, 0.4), inset -4px -3px 2px rgba(134, 134, 134, 0.2), inset 3px 3px 2px rgba(245, 245, 245, 0.4);
      box-shadow: 2px 1px 3px rgba(105, 105, 105, 0.2), -2px -1px 4px rgba(255, 255, 255, 0.4), inset -4px -3px 2px rgba(134, 134, 134, 0.2), inset 3px 3px 2px rgba(245, 245, 245, 0.4);
      border-radius: 26px; }
  .page-info__block-name .close-button {
    background: -o-linear-gradient(306.08deg, #E4E4E4 21.46%, rgba(255, 255, 255, 0) 108.86%), #ECECEC;
    background: linear-gradient(143.92deg, #E4E4E4 21.46%, rgba(255, 255, 255, 0) 108.86%), #ECECEC;
    -webkit-box-shadow: 2.98413px 1.49206px 11.9365px rgba(136, 165, 191, 0.48), -2.98413px -1.49206px 11.9365px #FFFFFF;
    box-shadow: 2.98413px 1.49206px 11.9365px rgba(136, 165, 191, 0.48), -2.98413px -1.49206px 11.9365px #FFFFFF;
    border-radius: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: 60px; }

.page-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  .page-info__content .page-info__text {
    width: 30%; }
  .page-info__content p {
    margin-bottom: 30px;
    font-size: 16px;
    max-width: 400px;
    text-align: justify; }
  .page-info__content h2 {
    margin-bottom: 60px; }
  .page-info__content .page-info__track-box {
    padding: 80px 0;
    width: 67%;
    background: #EFEEEE;
    -webkit-box-shadow: inset 2.01424px 2.01424px 5.03559px rgba(136, 165, 191, 0.38);
    box-shadow: inset 2.01424px 2.01424px 5.03559px rgba(136, 165, 191, 0.38);
    border-radius: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 25px; }

.status-button {
  width: 256px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #EEEEEE;
  -webkit-box-shadow: 2.27119px 2.27119px 6.81356px rgba(136, 165, 191, 0.55);
  box-shadow: 2.27119px 2.27119px 6.81356px rgba(136, 165, 191, 0.55);
  border-radius: 18.1695px;
  font-family: 'Gilroy-Semibold', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #73738D;
  margin-left: 30px; }

.track-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1020px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .track-box__item .audio-player {
    margin-bottom: 0; }
    .track-box__item .audio-player .mejs__time-rail {
      margin: 0 50px; }

.modal-ok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #EFEFEF; }
  .modal-ok .alert-ok {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 90%;
    max-width: 716px;
    min-height: 500px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: -o-linear-gradient(247.64deg, #ECECEC 19.14%, #ECECEC 154.68%);
    background: linear-gradient(202.36deg, #ECECEC 19.14%, #ECECEC 154.68%);
    -webkit-box-shadow: 4px 4px 34px rgba(110, 178, 193, 0.35), -18px -18px 46px rgba(255, 255, 255, 0.8), inset -9px -6px 92px rgba(255, 255, 255, 0.18);
    box-shadow: 4px 4px 34px rgba(110, 178, 193, 0.35), -18px -18px 46px rgba(255, 255, 255, 0.8), inset -9px -6px 92px rgba(255, 255, 255, 0.18);
    border-radius: 28px;
    position: relative; }
    .modal-ok .alert-ok .panel-icon {
      position: absolute;
      top: 25px;
      left: 28px; }
    .modal-ok .alert-ok h2 {
      font-family: 'Gilroy-Bold', sans-serif;
      font-size: 30px;
      line-height: 1.1;
      text-align: center;
      color: #73738D;
      margin-bottom: 36px; }
    .modal-ok .alert-ok p {
      font-size: 18px;
      margin-top: 40px; }

/*# sourceMappingURL=style.css.map */
